<!DOCTYPE html>
<html>
<head>
    <title>Incident Dashboard</title>

    <style>
        body {
            font-family: Arial;
            background: #111;
            color: white;
            margin: 0;
        }

        .header {
            background: #b30000;
            padding: 15px;
            font-size: 20px;
        }

        .container {
            padding: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            background: white;
            color: black;
        }

        th {
            background: #b30000;
            color: white;
            padding: 10px;
        }

        td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

        .badge {
            padding: 4
